
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

header, footer {
    background-color: #111111;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #24d15e;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #111111;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #24d15e;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #24d15e;
    color: #000000;
    border-radius: 5px;
}

.hero {
    background-color: #222222;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #24d15e;
}

section {
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.features-section {
    padding: 2em;
    background-color: #000000;
    border: 1px solid #111111;
    box-shadow: 0 0 10px #24d15e;
}

.features-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-section li {
    margin-bottom: 10px;
}

.call-to-action {
    padding: 2em;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 10px #24d15e;
}

.call-to-action button {
    background-color: #24d15e;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.call-to-action button:hover {
    background-color: #3e8e41;
}

.footer {
    background-color: #111111;
    padding: 1em;
    text-align: center;
    color: #ffffff;
    clear: both;
    border-radius: 10px;
    box-shadow: 0 0 10px #24d15e;
}
